.nav-link {
	color: #fff;
}

.nav-link:hover {
	color: hsl(0, 2%, 12%);
}

.btn-outline-dark {
	color: #fff;
	border-color: #fff;
}

.btn-outline-dark:hover {
	background-color: hsl(0, 2%, 12%);
	border-color: #fff;
}

#hero {
	width: 100%;
	height: 100vh;
	background: url(https://images.unsplash.com/25/black-white-city.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80) fixed top center;
	background-size: cover;
	position: relative;
}

#hero:before {
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#hero .container {
	position: relative;
	padding-top: 75px;
}

#hero h1 {
	margin: 0;
	font-size: 56px;
	font-weight: 700;
	line-height: 64px;
	color: #fff;
	font-family: "Poppins", sans-serif;
}

#hero h2 {
	color: #fff;
	margin: 10px 0 0 0;
	font-size: 24px;
}

#hero .icon-box h3 {
	font-weight: 700;
	margin-top: 10px;
	font-size: 20px;
	line-height: 26px;
}

#hero .icon-box h3 a {
	color: #fff;
	text-decoration: none;
}

#hero .icon-box h3 a:hover {
	color: #ffc451;
}

.icon-box {
	padding: 30px 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: 100%;
	text-align: center;
}

.icon-box:hover {
	border-color: #ffc451;
}

.about ul li {
	list-style-type: none;
}

.about ul {
	padding: 0;
}

.cta {
	background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.8)), url(https://images.unsplash.com/25/black-white-city.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80) fixed center center;
	padding: 80px 0;
	color: #fff;
}

.cta h3 {
	font-weight: 700;
	font-size: 28px;
}

.cta-btn {
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border: 2px solid #fff;
	border-radius: 4px;
	color: #fff;
	margin-top: 10px;
	text-decoration: none;
}

.cta-btn:hover {
	background: #ffc451;
	border-color: #ffc451;
	color: #151515;
}


































